---
import Publicite from "../../components/contenu/Publicite.astro";
import TousLesArticles from "../../components/contenu/TousLesArticles.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
---
<BaseLayout title="Page d'accueil">
  <h1>Blog</h1>

  <TousLesArticles />
	<Publicite />
</BaseLayout>